footer.am-container.am-text-center(style="color:#999;font-size:12px;background:#FFF;padding-top:30px;margin-bottom:50px")
    .am-u-md-9(style="padding-bottom:20px;") 
        | @copyright 
        =blogUser.nickname
