.am-modal.am-modal-confirm#transConfirm
    .am-modal-dialog.am-text-center
        .am-modal-hd 选择分类...
        .am-modal-bd
        .am-modal-footer
            span.am-modal-btn(data-am-modal-confirm) 确定
            span.am-modal-btn(data-am-modal-confirm) 取消
