ul.mb-blog-replylist.am-comments-list
    li.am-comment
        a(href="#")
            img.am-comment-avatar(src="/public/heads/default.jpg" width="48" height="48")
        .am-comment-main
            .am-comment-hd
                .am-comment-meta
                    a.am-comment-author(href="#") 某人&nbsp;
                    | 评论于
                    time(title="2013年7月27日 下午7:54 格林尼治标准时间+0800" datetime="2013-07-27T04:54:29-07:00") 2014-7-12 15:30
            .am-comment-bd(style="font-size:12px")
                div 这是测试评论
                    ul.mb-blog-replylist.am-comments-list.am-comments-list-flip(style="border-top:1px solid #D9D9D9")
                        li.am-comment
                            a(href="#")
                                img.am-comment-avatar(src="/public/heads/default.jpg" width="48" height="48")
                            .am-comment-main
                                .am-comment-hd
                                    .am-comment-meta
                                        a.am-comment-author(href="#") 某人&nbsp;
                                        | 评论于
                                        time(title="2013年7月27日 下午7:54 格林尼治标准时间+0800" datetime="2013-07-27T04:54:29-07:00") 2014-7-12 15:30
                                .am-comment-bd(style="font-size:12px")
                                    div 这是测试评论
    li.am-comment
        a(href="#")
            img.am-comment-avatar(src="/public/heads/default.jpg" width="48" height="48")
        .am-comment-main
            .am-comment-hd
                .am-comment-meta
                    a.am-comment-author(href="#") 某人&nbsp;
                    | 评论于
                    time(title="2013年7月27日 下午7:54 格林尼治标准时间+0800" datetime="2013-07-27T04:54:29-07:00") 2014-7-12 15:30
            .am-comment-bd(style="font-size:12px")
                div 这是测试评论   