<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="/public/lib/amazeui/dist/css/amazeui.min.css", rel="stylesheet")
        link(rel="stylesheet", href="/public/lib/mb/mb.common.css")
        link(rel="stylesheet", href="/public/page/sign/sign.css")
        title 登录 -MayLight
    body.mb-full-screen
        canvas#bg

        script(src="/public/lib/jquery/dist/jquery.min.js")
        script(src="/public/lib/amazeui/dist/js/amazeui.min.js")
        script(src="/public/page/sign/sign.js")
        script(src="/public/page/sign/sign.bg（散落樱花特效）.js")